/* @import-normalize;  */

body {
    background-image: url("./battleship2.jpg");
}

.square-bg2 {
    background-color: red;
}

.square-bg {
    background-color: rgb(159, 142, 203);
}

.comp-show-ship-bg {
    background-color: "#73ff8e";
}