.main-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.board-types {
    display: grid;
    grid-template-columns: repeat(10, 37px);
    grid-template-rows: repeat(10, 37px);
    margin: auto;
}

#computer-board{
    pointer-events: none
}

.square-bg {
    background-color: rgb(159, 142, 203);
}

.square:hover {
    background-color: white;
}

.square {
    text-align: center;
    color: black;
    border: 2px solid rgb(8, 82, 121); /* Green */
}


.board-heading {
    display: grid;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

.comp-show-ship-bg {
    background-color: "#73ff8e";
}

/* Grid cheat sheet: https://grid.malven.co/ */