.main-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.board-types {
    display: grid;
    grid-template-columns: repeat(10, 37px);
    grid-template-rows: repeat(10, 37px);
    margin: auto;
}

#computer-board{
    pointer-events: none
}

.square {
    text-align: center;
    color: black;
    border: 2px solid rgb(17, 143, 211); /* Green */
}

.square:hover {
    background-color: white;
}

.board-heading {
    display: grid;
}



/* Grid cheat sheet: https://grid.malven.co/ */